body {
	background-color: #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #00BFFF;
}

#main-container {
	position: relative;
	width: 85%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	padding: 5px 10px 0;
	margin: 0 auto;
	font-size: 40px;
}

#top-link-container {
	width: 90%;
	display: table;
	margin: 0 auto;
}

#top-link-container > div {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto; 
}

#ad-container {
	padding: 5px;
	margin: 0 auto;
}

#demo-showcase {
	width: 85%;
	margin: 0 auto;
	display: table;
	padding 5px;
}

#demo-container {
	margin: 0 auto;
}

#demo {
	margin: 0 auto;
	box-shadow: #FFFFFF;
}

#about-container {
	width: 85%;
	margin: 0 auto;
}

#about-text {
	text-align: center;
	margin: 0 auto;
}

#footer {
	padding: 15px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #00BFFF;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
	text-shadow: 0 0 1px #FF0000;
}
